.item {
    height: content;
    width: 96%;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 3px;
    margin-right: 3px;
    justify-content:center;
    display: flex;
    flex-flow: column;
    border: 2px solid black;
    border-radius:5px;
}
.item .c-button{
    height: content;
    width: content;
    padding: 10px;
    display: flex;
    justify-content:center;
    align-items:center;
}
.c-button .header {
    font-size: 19px;
    color: black;
    font-weight: bold;
}
.c_img {
    height: 300px !important;
    width: 300px !important;
    border: 2px solid transparent;
    border-radius: 10px;
}
.c_img img {
    height: 100%;
    width: 100%;
}
.heading-blogs {
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 30px;
}
.heading-blogs p{
    color: blue !important;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 700;
}