*{
    padding: 0px;
    margin: 0px;
    text-decoration:none;
    list-style: none;
}
body {
    font-family: "montserrat";
}
nav {
    height: 80px;
    width: 100%;
    background-color:rgb(8, 222, 250);
    position: fixed;
    border-bottom: 0.05px solid rgb(183, 129, 233);
}
 .logo { 
    font-size: 30px;
    color: white;
    font-weight: bold;
    padding: 0px 80px;
    position: relative;
    line-height:80px
}
nav ul {
    float:right;
    margin-right: 20px;
}
nav ul li {
    display: inline-block;
    margin: 0 15px;
    padding-top: 21px;
}
nav ul li a {
    font-size: 15px;
    padding: 0px 15px;
    color: white;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 1px;
}
nav ul li a:hover {
    border: 2px solid black;
    border-radius: 10px;
    color: red;
    background-color:rgb(13, 253, 193);
}
@media (min-width: 1107px) {
    nav ul{
        display:flex;
        align-items: center;
    }
    nav .logo {
        align-items: center;
        float: left;
        left:-15px;
    }

}
@media (max-width: 1097px) {
    nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #34495e;
        top: 80;
        text-align: center;
        left:100%;
        transition: 0.7s;
    }
    .hide-menu-btn {
        position: block;
    }
    .hide-menu-btn {
        transition: 0.4s;
        height:20px;
        width:23px;
        border: 2px solid black;
        border-radius: 5px;
    }
    .hide-menu-btn {
        position: absolute;
        top: 28px;
        right:38px;
        display:flex;
        align-items: center;
        justify-content: center;
    }
    #chk:checked ~ ul {
        left: 0;
    }
    nav ul li {
        display: block;
        margin: 8px 0;
        line-height: 30px;
    }
    nav img {
        float: right;
        margin-right: 14px;
        margin-top: -52px;
    }
    nav .logo {
        margin-left: -35px;
    }
}
@media (min-width: 1097px) {
    nav #img img{
        display: none;
    }
    .responsive-menu {
        display: none;
    }
    .hide-menu-btn {
        display:none;
    }
    
}
.responsive-menu {
    height: 170px;
    width: 100%;
    background-color: rgb(8, 222, 250);
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    display: none;
    transition: 0.4s;
}
#chk {
    position: absolute;
    visibility: hidden;
    z-index: -1111;
}
.heading-blog {
    height: 28px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: -200px;
    margin-bottom: 30px;
}
.heading-blog p{
    color: blue !important;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 700;
}
.heading {
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    border-top: 1px solid rgb(12, 12, 22);
    border-bottom: 1px solid rgb(12, 12, 22);
}
.heading p{
    color: blue !important;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 700;
}
.users {
    height: content;
    width: 100%;
    background-color: white;
    DISPLAY: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.users .user-details {
    height: content;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1.5px solid black;
}
.footer {
    height: 40px;
    width: 99.9%;
    background-color: yellow;
    DISPLAY: flex;
    align-items: center;
    justify-content: center;
    border-top: 1.5px dashed black;
    border-bottom: 1.5px solid black;
    margin-top: 250px;
}
.footer p {
    font-size:17px;
    color: black;
    font-weight: bold;
}
.btn-r {
    height: 60px;
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row;
}
.btn-r .btn-send {
    height: 40px;
    width: 95px;
    background-color:rgb(8, 222, 250);
    color: white;
    font-size: 15px;
    font-weight: bold;
    border-radius: 5px;
    border:2px dashed rgb(8, 222, 250);
    margin-bottom: 30px;
    margin-top:-40px;
    
}
.btn-r .btn-send:hover {
    background-color: red;
    color: yellow;
    cursor: pointer;
    border: 2px solid yellow;
}